body {
    background-image: url("https://images.alphacoders.com/105/1057667.jpg");
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 500px;
    height: auto;
    opacity: 0.5;
    border-radius: 10px;
    max-width: 50%;
}

.header {
    text-align: center;
    font-size: 80px;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.colors {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

#img-caption {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#tribute-info {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.wikipedia {
    color: red;
}