body {
    /* background-image: url(https://images.alphacoders.com/105/1057667.jpg); */

    /* this wallpaper is from wallpaperaccess.com */
    background-image: url(https://wallpaperaccess.com/full/454196.jpg);
    background-size: cover;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 500px;
    height: auto;
    opacity: 0.8;
    border-radius: 10px;
    max-width: 50%;
}

#image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    width: 500px;
    height: auto;
    opacity: 1;
    border-radius: 10px;
    max-width: 50%;
}

.header {
    text-align: center;
    font-size: 80px;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.colors {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

#img-caption {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#tribute-info {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.wikipedia {
    color: red;
}

/* just ttrying things out */
#overlapthis {
    background-image:url("mymessage.gif");
    height:100px;
    left:50px; /* play around with this */
    position:absolute;
    top:90px; /* and play around with this */
    width:500px;
}

#thebigimage {
    background-image:url("bread_wine.jpg");
    height:548px;
    margin-left:auto;
    margin-right:auto;
    position:relative; /* and this has to be relative */
    width:731px;
} 